<div class="container">
   <div class="navbar">
      <div class="navbar-inner">
         <a class="brand" href="#">Seshbot Application</a>
         <ul class="nav">
            <li>{{#link-to 'index'}}Home{{/link-to}}</li>
            <li><a href="#">Register</a></li>
            <li><a href="#">Login</a></li>
         </ul>
      </div>
   </div>

   {{outlet}}
</div>
